{
    "mongodb_uri": "mongodb://{{pritunl_mongodb_host}}:{{pritunl_mongodb_port}}/{{pritunl_mongodb_name}}",
    "log_path": {{pritunl_log_path}},
    "static_cache": {{pritunl_static_cache}},
    "temp_path": "/tmp/pritunl_ac57ca9edc884974a1ac992b3f6ec5ec",
    "bind_addr": {{pritunl_bind_addr}},
    "www_path": {{pritunl_www_path}},
    "local_address_interface": {{pritunl_local_address_interface}},
    "port": {{pritunl_port}} 
}

